<ion-card no-margin>
    <ion-card-content class="ion-text-center" >
      <div class="blkLn" *ngFor="let y of heightArray">
          <div class="blk" *ngFor="let x of widthArray" [ngClass]="{'fill':isThereAnyRobot(x,y,null)}">
              <ion-icon name="chevron-up-outline" *ngIf="isThereAnyRobot(x,y,'NORTH')"></ion-icon>
              <ion-icon name="chevron-forward-outline" *ngIf="isThereAnyRobot(x,y,'EAST')"></ion-icon>
              <ion-icon name="chevron-down-outline" *ngIf="isThereAnyRobot(x,y,'SOUTH')"></ion-icon>
              <ion-icon name="chevron-back-outline" *ngIf="isThereAnyRobot(x,y,'WEST')"></ion-icon>
          </div>
      </div>
    </ion-card-content>
</ion-card>